@import "../../scss/typography";
@import "../../scss/variable";

#header-container {
  border-bottom: 1px solid #efefef;
  .navbar-brand {
    font-family: $title-font-family-medium;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: $primary-color;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
  }
  .header-search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 2px solid #efefef;
    border-radius: 100px;
    padding: 6px 20px;
    input {
      border: 0;
      &:focus {
        outline-style: none;
      }
    }
  }
}
