@import "../../scss/typography";
@import "../../scss/custom_style";
@import "../../scss/variable";

#featured-nfts-container {
  background: $secondary-color;
  padding: 65px 65px;
  .featured-nfts-card-container {
    margin-top: 55px;
  }
}
