@import "./variable";
@import "./font";
@import "./mixing";

.primary-btn {
  @include btn-text-style;
  padding: 16px 24px;
  background: $primary-color;
  border-radius: 60px;
  color: white;
  border: 0;

  &:hover {
    background: white;
    border: 2px solid $primary-color;
    color: $primary-color;
    padding: 14px 22px;
  }
}

.secondary-btn {
  @include btn-text-style;
  padding: 16px 24px;
  background: white;
  border-radius: 60px;
  color: $primary-color;
  border: 2px solid $primary-color;
  &:hover {
    background: $primary-color;
    border: 2px solid $primary-color;
    color: white;
    // padding: 14px 22px;
  }
}

.header-primary-btn {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 9px 24px;
  background: $primary-color;
  border-radius: 60px;
  color: white;
  border: 0;
  &:hover {
    background: white;
    border: 2px solid $primary-color;
    color: $primary-color;
    padding: 7px 22px;
  }
}

.header-secondary-btn {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 8px 24px;
  background: white;
  border-radius: 60px;
  color: $primary-color;
  border: 2px solid $primary-color;
  &:hover {
    background: $primary-color;
    border: 2px solid $primary-color;
    color: white;
    // padding: 14px 22px;
  }
}

.subscribe-btn {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 16px;
  background: $primary-color;
  border-radius: 60px;
  color: white;
  border: 0;
  &:hover {
    background: white;
    border: 2px solid $primary-color;
    color: $primary-color;
    padding: 8px 14px;
  }
}

.place-bit-btn {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 16px;
  background: white;
  border: 2px solid $primary-color;
  border-radius: 50px;
  color: $title-font-color;
  transition: all 0.2s ease-in;

  &:hover {
    background: $primary-color;
    color: #ffffff;
  }
  &:active {
    background: $primary-color;
    color: #ffffff;
  }
  &:nth-child(1) {
    background: $primary-color;
    color: #ffffff;
  }
}

.filter-btn {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $title-font-color;
  border: 0;
  padding: 10px 20px;
  background: $secondary-color;
  border-radius: 100px;
  transition: all 0.2s ease-in;
  &:hover {
    background: $primary-color;
    color: #ffffff;
  }
  &:active {
    background: $primary-color;
    color: #ffffff;
  }
  &:nth-child(1) {
    background: $primary-color;
    color: #ffffff;
  }
}
