@font-face {
  font-family: "IntegralCF-Medium";
  font-style: normal;
  src: local("IntegralCF-Medium"),
    url("../Assets/fonts/IntegralCF-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Abrade-Black";
  font-style: normal;
  src: local("Abrade-Black"),
    url("../Assets/fonts/Abrade-Black.ttf") format("truetype");
}
