 @font-face {
    font-family: "Integralcf-regular";
    font-style: normal;
    font-weight: 400;
    src: local("Integralcf-regular"),
      url("../Assets/font/integralcf-regular.otf") format("opentype");
}