@import "../scss/font";

@mixin btn-text-style {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.065em;
    -webkit-text-stroke: 1px white;
}