@import "../scss/font";
@import "../scss/variable";

.title-1 {
  font-family: $title-font-family-medium;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: $title-font-color;
  // -webkit-text-stroke: 1px $title-font-color;
  -webkit-text-fill-color: $title-font-color;
  text-transform: uppercase;
  margin: 0;
  @media only screen and (max-width: 768px) {
    font-size: 30px;
  }
}
.title-2 {
  font-family: $title-font-family-bold;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: $title-font-color;
  letter-spacing: 0.05em;
  // -webkit-text-stroke: 1px $title-font-color;
  -webkit-text-fill-color: $title-font-color;
  text-transform: uppercase;
  margin: 0;
  @media only screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.body-1 {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: $body-font-color;
  margin: 0;
  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }
}
.body-2 {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: $title-font-color;
  margin: 0;
  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }
}
.body-3 {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: $body-font-color;
  margin: 0;
}
.body-4 {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $title-font-color;
  margin: 0;
}
.footer-item {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: $body-font-color;
  margin: 0;
}
.nav-menu {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $title-font-color;
  margin: 0;
}
